h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color:turquoise;
}
canvas{
    animation-name :filter;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
@keyframes filter{
    from{box-shadow: 5px 5px 38px white;}
    to{box-shadow: 5px 5px 38px white;}
}